body {
  height: 100vh;
  background-color: #f8eeff;
  .mobileBackground {
    width: 100%;
    height: 232px;
    object-fit: cover; /* Ensures the image covers the entire container while maintaining aspect ratio */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
