@font-face {
  font-family: "WorkSans";
  src: url("../assets/fonts/WorkSans-Regular.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "WorkSansVariable";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.tt");
  font-weight: 700;
  font-style: normal;
}
