@use '../../styles/typography';
@use "../../styles/mixins" as *;

.accordion {
  display: flex;
  flex-direction: column;

  .accordion_row {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    .accordion_question {
      font-size: 16px;
      font-family: 'WorkSans-Bold';
      &:hover {
        color: #ad28eb;
      }
      @include Desktop {
        font-size: 18px;
      }
    }

    .accordion_button {
      border: none;
      background-color: white;
    }
  }

  .accordion_answer {
    margin-top: 10px; 
    font-family: 'WorkSans-Regular';
    color: #8B6990;
     @include Desktop {
        font-size: 18px;
      }
    p {
      margin-top: 0;  
    }
  }
}